.c-section {
    &__title {
        background: #ffffff;
        font-size: 3rem;
        padding: 20px 0;
        color: #0ba360;
        font-weight: bold;
        text-align: center;
        @include overTab {
            font-size: 3rem;
        }

    }
    &__mainTitle {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        margin-top: 30px;
        @include overTab {
            font-size: 2rem;
        }
    }
    &__subTitle {
        font-size: 2rem;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
        &.aside {
            &::before {
                content: "";
                background: #0ba360;
                line-height: 2rem;
                display: inline-block;
                height: 2rem;
                width: 5px;
                padding-top: 3px;
                margin-right: 8px;
            }
        }
    }
}
