.c-section {
    &__title {
  background: #ffffff;
  font-size: 4rem;
  padding: 10px 0;
  color: #0ba360;
  font-weight: bold;
  text-align: center;
        @include overTab {
            font-size: 3rem;
        }

    }
    &__mainTitle {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        margin-top: 30px;
        @include overTab {
            font-size: 2rem;
        }
    }
    &__subTitle {
        font-size: 2rem;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
        &.aside {
            padding-left: 1rem;
            border-left: 4px solid #0ba360;
        }
    }
}
